<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="IsReminderOn" value="True"/>
    <add key="IsFullscreenOn" value="False"/>
    <add key="IsTimeoutOn" value="False"/>
    <add key="ResetTime" value="0"/>
  </appSettings>
</configuration>